<template id="agitstats">
    <div class="column"></div>

    <div class="dashboard-section"></div>

    <div class="widget">
        <h2 class="caption"></h2>
        <div class="footer"></div>
    </div>

    <div class="content common">
        <h3></h3>
        <div class="elem"></div>
    </div>

    <div class="content chart donut-chart">
        <h3></h3>
        <div class="data">
            <div class="elem"></div>
            <div class="total"></div>
            <div class="legend"></div>
        </div>
    </div>

    <span class="label">
        <span class="ind"></span>
        <span class="name"></span>
    </span>
</template>
